<div class="grid grid-cols-7 container mx-auto grid gap-20 p-10 my-28 rounded-3xl bg-light-bgSecondary" data-aos="fade-up">
    <img class="my-auto" src="assets/images/logos/angular-logo.svg" alt=""/>
    <img class="my-auto" src="assets/images/logos/html5-logo.svg" alt=""/>
    <img class="my-auto"  src="assets/images/logos/sass-logo.svg" alt=""/>
    <img class="my-auto" src="assets/images/logos/javascript-logo.svg" alt=""/>
    <img class="my-auto" src="assets/images/logos/wordpress-blue-logo.svg" alt=""/>
    <img class="my-auto" src="assets/images/logos/php-logo.svg" alt=""/>
    <img class="my-auto" src="assets/images/logos/twig-logo.svg" alt=""/>
</div>