<div
  class="container mx-auto my-16 grid grid-cols-7 gap-20 rounded-3xl bg-light-bgSecondary p-10"
  data-aos="fade-up"
>
  <img class="my-auto" src="assets/images/logos/angular-logo.svg" alt="" />
  <img class="my-auto" src="assets/images/logos/html5-logo.svg" alt="" />
  <img class="my-auto" src="assets/images/logos/sass-logo.svg" alt="" />
  <img class="my-auto" src="assets/images/logos/javascript-logo.svg" alt="" />
  <img
    class="my-auto"
    src="assets/images/logos/wordpress-blue-logo.svg"
    alt=""
  />
  <img class="my-auto" src="assets/images/logos/php-logo.svg" alt="" />
  <img class="my-auto" src="assets/images/logos/twig-logo.svg" alt="" />
</div>
