<div id="aboutSection" class="my-20 px-4 lg:my-28">
  <div class="container mx-auto">
    <div class="grid gap-10 lg:grid-cols-2">
      <div data-aos="fade-up">
        <h2
          id="#about"
          class="mb-8 font-roboto text-3xl uppercase tracking-wide"
        >
          <i class="icon-forward mr-4 text-xl"></i>
          {{ 'components.about.title' | translate }}
        </h2>
        <p
          class="font-nunito mb-8 text-lg"
          [innerHTML]="'components.about.intro' | translate"
        ></p>
        <div>
          <snip-main-button
            [buttonText]="
              'components.about.resume-button.button-text' | translate
            "
            [buttonLink]="
              'components.about.resume-button.button-link' | translate
            "
            [downloadFile]="true"
          ></snip-main-button>
        </div>
      </div>
      <div class="flex" data-aos="fade-up">
        <div
          class="mx-auto flex overflow-hidden rounded-full bg-light-secondary"
        >
          <img
            class="contains mx-auto max-h-96"
            src="\assets\images\cut-character3.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
