<div class="px-4 pt-20 lg:pt-28">
  <div class="container mx-auto">
    <h2
      id="#about"
      class="uppercase text-3xl font-roboto tracking-wider">
      <i class="icon-forward text-xl mr-4"></i>About
    </h2>
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="my-auto">
        <p class="text-base lg:text-xl">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          quas, amet quisquam veniam vitae officia labore deserunt magnam
          commodi, in laboriosam eum nihil quos optio cum sed repudiandae quidem
          atque!
        </p>
      </div>
    </div>
  </div>
</div>
