<div class="my-20 px-4 lg:my-36">
  <div class="container mx-auto">
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="">
        <h2
          id="#about"
          class="mb-10 font-roboto text-3xl uppercase tracking-wider"
        >
          <i class="icon-forward mr-4 text-xl"></i>
          {{ 'components.about.title' | translate }}
        </h2>
        <p
          class="mb-5 text-base lg:text-xl"
          [innerHTML]="'components.about.intro' | translate"
        ></p>
        <snip-main-button
          [buttonText]="'components.banner.button-text' | translate"
        ></snip-main-button>
      </div>
      <div class="flex">
        <div class="mx-auto flex overflow-hidden rounded-full bg-blue-200">
          <img
            class="contains mx-auto max-h-96"
            src="\assets\images\cut-character3.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
