<footer class="lg:mb- mt-20 px-4 pb-4 lg:mt-28">
  <div class="bg- container mx-auto rounded-3xl bg-light-text p-12">
    <div class="grid grid-cols-2">
      <div class="border-r border-light-bgSecondary border-opacity-10 pr-12">
        <h2 class="text-roboto mb-10 text-6xl font-medium text-white">
          {{ 'components.footer.title' | translate }}
        </h2>
        <p
          class="font-lora text-lg font-semibold text-white opacity-80 md:text-xl"
        >
          {{ 'components.footer.text' | translate }}
        </p>
      </div>
      <form
        class="contact-form flex flex-col pl-12"
        (submit)="sendEmail($event)"
      >
        <div>
          <label class="text-white">{{
            'components.footer.form.name' | translate
          }}</label>
          <input type="text" name="user_name" />
        </div>
        <div>
          <label class="text-white">{{
            'components.footer.form.email' | translate
          }}</label>
          <input type="email" name="user_email" />
        </div>
        <div>
          <label class="text-white">{{
            'components.footer.form.message' | translate
          }}</label>
          <textarea name="message"></textarea>
        </div>
        <input
          class="flex text-white"
          type="submit"
          [attr.value]="'components.footer.form.submit' | translate"
        />
      </form>
    </div>
    <div>
      <p class="mt-8 pt-8 text-sm text-white opacity-80">
        &copy; {{ currentYear }}
        {{ 'components.footer.copyright' | translate }}.
      </p>
      <a href=""><i class="icon-"></i></a>
    </div>
  </div>
</footer>
