<footer
  class="lg:mb- mt-20 px-4 pb-4 lg:mt-28"
  data-aos="fade"
  data-aos-delay="200"
>
  <div class="bg- container mx-auto rounded-3xl bg-light-text p-12">
    <div class="grid grid-cols-2">
      <div class="border-r border-white border-opacity-80 pr-12">
        <h2 class="mb-10 font-roboto text-6xl font-medium text-white">
          {{ 'components.footer.title' | translate }}
        </h2>
        <p
          class="font-nunito text-lg font-semibold text-white opacity-80 md:text-xl"
        >
          {{ 'components.footer.text' | translate }}
        </p>
      </div>
      <lib-contact-form></lib-contact-form>
    </div>
    <div class="mt-8 flex justify-between pt-8">
      <p class="font-nunito text-sm text-white opacity-80">
        &copy; {{ currentYear }}
        {{ 'components.footer.copyright' | translate }}.
      </p>
      <a [href]="'links.linkedin' | translate" target="_blank" class="flex"
        ><i
          class="icon-linkedin text-xl text-white opacity-80 transition-all hover:opacity-100"
        ></i
      ></a>
    </div>
  </div>
</footer>
