<header
  #headerHtml
  class="border-light fixed left-0 right-0 top-0 z-40 flex w-full border-b bg-white px-5 py-3 duration-200"
>
  <div class="container mx-auto flex items-center justify-between">
    <div>
      <img
        src="assets/images/logos/website-logo.jpg"
        class="h-16 object-contain"
        alt="Website logo"
      />
    </div>
    <nav class="flex items-center gap-10">
      <snip-link [linkText]="'components.header.about' | translate">
      </snip-link>
      <snip-link [linkText]="'components.header.projects' | translate">
      </snip-link>
      <snip-main-button [buttonText]="'components.header.cta' | translate">
      </snip-main-button>
    </nav>
  </div>
</header>
