<div
  class="group/project perspective-1000"
  data-aos="fade-up"
  data-aos-delay="100"
>
  <div
    class="relative transform rounded-3xl bg-light-bgSecondary p-4 duration-300 transform-style-preserve-3d group-focus-within/project:rotate-y-180 group-hover/project:rotate-y-180 md:p-7"
  >
    <!-- Front of the card -->
    <div class="flex flex-col gap-5 backface-hidden">
      <img
        *ngIf="project.image"
        [src]="project.image.src"
        [alt]="project.image.alt"
        class="rounded-xl md:rounded-2xl"
      />
      <p
        *ngIf="project.title"
        class="font-roboto text-xl font-semibold text-light-text sm:text-2xl"
      >
        {{ project.title }}
      </p>
      <div
        class="flex flex-wrap gap-3"
        *ngIf="project.types && project.types.length > 0"
      >
        <span
          *ngFor="let type of project.types"
          class="text-color-text rounded-full border-2 border-light-text px-3 py-1 font-roboto text-sm font-semibold sm:text-base"
        >
          {{ type }}
        </span>
      </div>
    </div>
    <!-- Back of the card -->
    <div
      class="absolute inset-8 flex rotate-y-180 flex-col justify-between gap-5 backface-hidden"
      *ngIf="project.excerpt"
    >
      <p
        *ngIf="project.excerpt"
        class="font-nunito text-base text-light-text sm:text-lg"
      >
        {{ project.excerpt }}
      </p>
      <a
        *ngIf="project.button"
        [href]="project.button.link"
        class="group/projectlink opacity-1 ml-auto flex items-center gap-2 font-nunito text-base font-bold duration-300 hover:opacity-70 focus:opacity-70 md:text-lg"
        target="_blank"
        >{{ project.button.title }}
        <i
          class="icon-arrow-up-right transform text-xs transition-transform duration-300 group-hover/projectlink:-translate-y-1 group-hover/projectlink:translate-x-1 group-focus/projectlink:-translate-y-1 group-focus/projectlink:translate-x-1"
        ></i
      ></a>
    </div>
  </div>
</div>
