<div
  id="projectsSection"
  class="my-20 px-4 lg:my-28"
  *ngIf="projectsList.length > 0"
>
  <div class="container mx-auto">
    <h2
      class="text-light-title mb-8 font-roboto text-2xl uppercase tracking-wide sm:text-3xl"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <i class="icon-forward mr-4 text-xl"></i>
      {{ 'components.projects.title' | translate }}
    </h2>

    <div class="mb-10 grid gap-10 lg:grid-cols-2">
      <ng-container *ngFor="let project of projectsList">
        <lib-project-card [project]="project"></lib-project-card>
      </ng-container>
    </div>
  </div>
</div>
