<div class="my-20 px-4 lg:my-28">
  <div class="container mx-auto">
    <h2
      class="mb-10 font-roboto text-3xl uppercase tracking-wider"
      data-aos="fade-up"
    >
      <i class="icon-forward mr-4 text-xl"></i>
      {{ 'components.projects.title' | translate }}
    </h2>

    <!-- First two items in a grid of two -->
    <div class="mb-10 grid gap-10 lg:grid-cols-2">
      <ng-container *ngFor="let project of projectsList; let i = index">
        <div *ngIf="i < 2">
          <lib-project-card [project]="project"></lib-project-card>
        </div>
      </ng-container>
    </div>

    <!-- Remaining items in a grid of three -->
    <div class="grid gap-10 lg:grid-cols-3">
      <ng-container *ngFor="let project of projectsList; let i = index">
        <div *ngIf="i >= 2">
          <lib-project-card [project]="project"></lib-project-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
