<div class="mt-20 px-4 lg:mt-48">
  <div class="container mx-auto grid gap-28 lg:grid-cols-2">
    <div class="flex flex-col" data-aos="fade-up">
      <h1
        class="flex flex-col gap-3 font-roboto text-5xl font-black leading-normal text-light-text md:text-7xl"
      >
        {{ 'components.banner.title' | translate }}
        <br />
        <span class="relative z-10 flex max-w-fit text-4xl"
          ><span class="z-10">{{
            'components.banner.subTitle' | translate
          }}</span>
          <span
            class="absolute -bottom-1 -left-2 -right-2 h-6 bg-light-secondary"
          ></span>
        </span>
      </h1>
    </div>
    <div data-aos="fade-up">
      <p
        class="font-nunito mb-5 mt-0 text-lg font-semibold leading-relaxed text-light-text md:text-2xl"
        [innerHTML]="'components.banner.text' | translate"
      ></p>
      <div class="flex gap-5">
        <snip-main-button
          [buttonText]="'components.banner.button-text' | translate"
          buttonLink="#projectsSection"
        ></snip-main-button>
      </div>
    </div>
  </div>
</div>
