<div
  class="scale-100 cursor-pointer rounded-3xl bg-light-bgSecondary p-8 transition-all hover:scale-105"
>
  <a
    href="{{ project.link }}"
    class="font-roboto text-2xl font-semibold text-light-text"
    >{{ project.title }}</a
  >
  <p>{{ project.text }}</p>
  <p>{{ project.excerpt }}</p>
  <div class="flex gap-3">
    <span
      *ngFor="let type of project.types"
      class="text-color-text font-sm rounded-full border-2 border-light-text px-3 py-1 font-roboto text-sm font-semibold"
      >{{ type }}</span
    >
  </div>
  <img [src]="project.image" alt="{{ project.title }}" *ngIf="project.image" />
</div>
