<div #panel>
  <!-- Toggle button -->
  <button
    (click)="togglePanel()"
    class="fixed right-4 top-4 z-50 rounded bg-light-bgSecondary p-3 sm:hidden"
    aria-label="Toggle menu"
    [attr.aria-expanded]="isOpen ? 'true' : 'false'"
  >
    <div class="space-y-2">
      <span
        [class]="
          'block h-0.5 w-10 bg-light-text transition-transform ' +
          (isOpen ? 'translate-y-2.5 rotate-45' : '')
        "
      ></span>
      <span
        [class]="
          'block h-0.5 w-10 bg-light-text ' +
          (isOpen ? 'opacity-0' : 'opacity-100')
        "
      ></span>
      <span
        [class]="
          'block h-0.5 w-10 bg-light-text transition-transform ' +
          (isOpen ? '-translate-y-2.5 -rotate-45' : '')
        "
      ></span>
    </div>
  </button>
  <!-- Overlay -->
  <div
    class="invisible fixed inset-0 z-40 bg-black opacity-0 duration-200"
    [class.visible]="isOpen"
    [class.invisible]="!isOpen"
    [class.opacity-50]="isOpen"
    [class.opacity-0]="!isOpen"
    (click)="closePanel()"
  ></div>
  <!-- Navigation Panel -->
  <div
    class="invisible fixed right-0 top-0 z-40 h-dvh w-64 transform bg-white shadow-lg duration-200 sm:hidden"
    [class.visible]="isOpen"
    [class.invisible]="!isOpen"
    [class.translate-x-0]="isOpen"
    [class.translate-x-full]="!isOpen"
    role="dialog"
    [attr.aria-hidden]="isOpen ? 'false' : 'true'"
  >
    <div class="h-full bg-light-bgSecondary px-8 pt-24">
      <nav class="flex flex-col gap-6">
        <snip-link
          [linkText]="'components.header.about' | translate"
          linkUrl="#aboutSection"
          (click)="closePanel()"
        >
        </snip-link>
        <snip-link
          [linkText]="'components.header.projects' | translate"
          linkUrl="#projectsSection"
          (click)="closePanel()"
        >
        </snip-link>
        <snip-main-button
          [buttonText]="'components.header.cta' | translate"
          buttonLink="#contactForm"
          (click)="closePanel()"
        >
        </snip-main-button>
        <div class="language-switcher">
          <button
            class="font-roboto text-base font-bold text-light-text transition-all duration-300 hover:cursor-pointer hover:opacity-75 md:text-lg xl:text-xl"
            *ngIf="currentLang === 'fr'"
            (click)="changeLanguage('en')"
            (keydown.enter)="changeLanguage('en')"
            tabindex="0"
          >
            EN
          </button>
          <button
            class="font-roboto text-base font-bold text-light-text transition-all duration-300 hover:cursor-pointer hover:opacity-75 md:text-lg xl:text-xl"
            *ngIf="currentLang === 'en'"
            (click)="changeLanguage('fr')"
            (keydown.enter)="changeLanguage('fr')"
            tabindex="0"
          >
            FR
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
